<div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}</h3>
        <div class="divider"></div>
         <div class="card story">
             <div class="body-content">
                 {{{story.body}}}
             </div>
         </div>
    </div>
</div>